In [1]:
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in /home/laren.osorio/.local/lib/python3.7/site-packages (1.0.2)
WARNING: You are using pip version 21.3.1; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/bin/python3.7 -m pip install --upgrade pip' command.

In [2]:
#Step 1: Import pymysql module
#import mysql
import pandas as pd
import pymysql

In [3]:
#Step 2: Define the datasource
url_data='data/candidates.csv/'

In [4]:
df_candidates= pd.read_csv(url_data+"candidates.csv",sep=';')

In [5]:
df_candidates.isnull().sum()

First Name                   0
Last Name                    0
Email                        0
Application Date             0
Country                      0
YOE                          0
Seniority                    0
Technology                   0
Code Challenge Score         0
Technical Interview Score    0
dtype: int64

In [6]:
df_candidates.shape

(50000, 10)

In [7]:
df_candidates.head(5)

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

# Parte 1

In [8]:
#Step 3: Create connection a to the MySQL database

pw = "root"

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = pymysql.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except ConnectionError as exc:
        raise RuntimeError('Failed to create the connection to the server') from exc

    return connection

connection = create_server_connection("localhost","root", pw)

MySQL Database connection successful

In [9]:
db = "db_candidates"

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except ConnectionError as exc:
        raise RuntimeError('Failed to create the database') from exc
        
create_database_query = "CREATE DATABASE db_candidates"
create_database(connection, create_database_query)

Database created successfully

In [10]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = pymysql.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except ConnectionError as exc:
        raise RuntimeError('Failed to create the table') from exc

    return connection

connection = create_db_connection("localhost","root",pw,db)

MySQL Database connection successful

In [11]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except ConnectionError as exc:
        raise RuntimeError('Failed to execute query') from exc

In [12]:
def execute_list_tuples_query(connection, sql, val):
    cursor = connection.cursor()
    try:
        cursor.executemany(sql, val)
        connection.commit()
        print("Query successful")
    except ConnectionError as exc:
        raise RuntimeError('Failed to execute query to insert into the created table') from exc

In [13]:
# Assign our SQL command to a python variable using triple quotes to create a multi-line string
create_candidates_table = """
CREATE TABLE tb_candidates (
  first_name VARCHAR(100),
  last_name VARCHAR(100),
  email VARCHAR(100),
  application_date DATE,
  country VARCHAR(150),
  yoe INT,
  seniority VARCHAR(100),
  technology VARCHAR(100),
  code_challenge_score INT,
  technical_interview_score INT
  );
 """

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database
execute_query(connection, create_candidates_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [14]:
df_candidates.head(5)

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

In [15]:
val=list(df_candidates.itertuples(index=False,name=None))

In [16]:
val[0:2]

[('Bernadette',
  'Langworth',
  'leonard91@yahoo.com',
  '2021-02-26',
  'Norway',
  2,
  'Intern',
  'Data Engineer',
  3,
  3),
 ('Camryn',
  'Reynolds',
  'zelda56@hotmail.com',
  '2021-09-09',
  'Panama',
  10,
  'Intern',
  'Data Engineer',
  2,
  10)]

In [18]:
sql = '''
    INSERT INTO tb_candidates (first_name, last_name, email, application_date, country, yoe, seniority, technology,code_challenge_score,technical_interview_score) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    '''
connection = create_db_connection("localhost", "root", pw, db)
execute_list_tuples_query(connection, sql, val)

MySQL Database connection successful
Query successful

# Parte 2

In [ ]:
# Seaborn
# df_visualizacion=#execute_query para traer datos de la tabla

mysql -u root -proot -h localhost -P 3306 db_candidates

CREATE TABLE db_candidates.tb_hired_report
SELECT
technology,
seniority,
country,
year(application_date) as year_application,
case
when code_challenge_score>=7 and technical_interview_score>=7 THEN 'Hired'
else 'No Hired'
END
AS status_cantidate,
COUNT(first_name) AS number_of_hired
FROM db_candidates.tb_candidates
GROUP BY
technology, seniority, country,
year_application,
status_cantidate;

select*from db_candidates.tb_hired_report limit 5;

# Parte 3

In [ ]:
!pip install streamlit

Defaulting to user installation because normal site-packages is not writeable
Collecting streamlit
  Downloading streamlit-1.15.1-py2.py3-none-any.whl (10.3 MB)
     |████████████████████████████████| 10.3 MB 1.6 MB/s            
Collecting toml
  Using cached toml-0.10.2-py2.py3-none-any.whl (16 kB)
Collecting validators>=0.2
  Downloading validators-0.20.0.tar.gz (30 kB)
  Preparing metadata (setup.py) ... done
Collecting altair>=3.2.0
  Downloading altair-4.2.0-py3-none-any.whl (812 kB)
     |████████████████████████████████| 812 kB 1.7 MB/s            
Requirement already satisfied: gitpython!=3.1.19 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (3.1.29)
Collecting tzlocal>=1.1
  Downloading tzlocal-4.2-py3-none-any.whl (19 kB)
Requirement already satisfied: packaging>=14.1 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (21.3)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (4.4.0)
Collecting pydeck>=0.1.dev5
  Downloading pydeck-0.8.0-py2.py3-none-any.whl (4.7 MB)
     |████████████████████████████████| 4.7 MB 2.3 MB/s            
Requirement already satisfied: requests>=2.4 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (2.28.1)
Collecting semver
  Downloading semver-2.13.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: click>=7.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (8.1.3)
Collecting cachetools>=4.0
  Downloading cachetools-5.2.0-py3-none-any.whl (9.3 kB)
Requirement already satisfied: pandas>=0.21.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (1.3.5)
Collecting blinker>=1.0.0
  Downloading blinker-1.5-py2.py3-none-any.whl (12 kB)
Collecting watchdog
  Downloading watchdog-2.1.9-py3-none-manylinux2014_x86_64.whl (78 kB)
     |████████████████████████████████| 78 kB 1.4 MB/s            
Requirement already satisfied: numpy in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (1.21.6)
Collecting pyarrow>=4.0
  Downloading pyarrow-10.0.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.0 MB)
     |████████████████████████████████| 36.0 MB 1.7 MB/s            
Requirement already satisfied: importlib-metadata>=1.4 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (5.0.0)
Collecting pympler>=0.9
  Downloading Pympler-1.0.1-py3-none-any.whl (164 kB)
     |████████████████████████████████| 164 kB 2.4 MB/s            
Collecting protobuf<4,>=3.12
  Downloading protobuf-3.20.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 2.3 MB/s            
Requirement already satisfied: pillow>=6.2.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (9.1.0)
Requirement already satisfied: python-dateutil in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (2.8.2)
Requirement already satisfied: tornado>=5.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from streamlit) (6.1)
Collecting rich>=10.11.0
  Downloading rich-12.6.0-py3-none-any.whl (237 kB)
     |████████████████████████████████| 237 kB 2.5 MB/s            
Requirement already satisfied: entrypoints in /home/laren.osorio/.local/lib/python3.7/site-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jinja2 in /home/laren.osorio/.local/lib/python3.7/site-packages (from altair>=3.2.0->streamlit) (3.0.3)
Requirement already satisfied: jsonschema>=3.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from altair>=3.2.0->streamlit) (4.4.0)
Collecting toolz
  Downloading toolz-0.12.0-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 1.7 MB/s            
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/laren.osorio/.local/lib/python3.7/site-packages (from gitpython!=3.1.19->streamlit) (4.0.9)
Requirement already satisfied: zipp>=0.5 in /home/laren.osorio/.local/lib/python3.7/site-packages (from importlib-metadata>=1.4->streamlit) (3.7.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/laren.osorio/.local/lib/python3.7/site-packages (from packaging>=14.1->streamlit) (3.0.8)
Requirement already satisfied: pytz>=2017.3 in /home/laren.osorio/.local/lib/python3.7/site-packages (from pandas>=0.21.0->streamlit) (2022.1)
Requirement already satisfied: six>=1.5 in /home/laren.osorio/.local/lib/python3.7/site-packages (from python-dateutil->streamlit) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/laren.osorio/.local/lib/python3.7/site-packages (from requests>=2.4->streamlit) (2021.10.8)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/laren.osorio/.local/lib/python3.7/site-packages (from requests>=2.4->streamlit) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/laren.osorio/.local/lib/python3.7/site-packages (from requests>=2.4->streamlit) (1.26.12)
Requirement already satisfied: idna<4,>=2.5 in /home/laren.osorio/.local/lib/python3.7/site-packages (from requests>=2.4->streamlit) (3.3)
Collecting commonmark<0.10.0,>=0.9.0
  Downloading commonmark-0.9.1-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 462 kB/s            
Requirement already satisfied: pygments<3.0.0,>=2.6.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from rich>=10.11.0->streamlit) (2.11.2)
Collecting pytz-deprecation-shim
  Downloading pytz_deprecation_shim-0.1.0.post0-py2.py3-none-any.whl (15 kB)
Collecting backports.zoneinfo
  Downloading backports.zoneinfo-0.2.1-cp37-cp37m-manylinux1_x86_64.whl (70 kB)
     |████████████████████████████████| 70 kB 1.9 MB/s            
Requirement already satisfied: decorator>=3.4.0 in /usr/lib/python3/dist-packages (from validators>=0.2->streamlit) (4.1.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/laren.osorio/.local/lib/python3.7/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from jinja2->altair>=3.2.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /home/laren.osorio/.local/lib/python3.7/site-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (5.4.0)
Collecting tzdata
  Downloading tzdata-2022.6-py2.py3-none-any.whl (338 kB)
     |████████████████████████████████| 338 kB 2.5 MB/s            
Building wheels for collected packages: validators
  Building wheel for validators (setup.py) ... done
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19827 sha256=c42f95bb5a3cf86e913e099dfe14081223e711b403dab00321332c1d6705e64b
  Stored in directory: /home/laren.osorio/.cache/pip/wheels/5f/55/ab/36a76989f7f88d9ca7b1f68da6d94252bb6a8d6ad4f18e04e9
Successfully built validators
Installing collected packages: tzdata, backports.zoneinfo, toolz, pytz-deprecation-shim, commonmark, watchdog, validators, tzlocal, toml, semver, rich, pympler, pydeck, pyarrow, protobuf, cachetools, blinker, altair, streamlit
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.9
    Uninstalling protobuf-4.21.9:
      Successfully uninstalled protobuf-4.21.9
Successfully installed altair-4.2.0 backports.zoneinfo-0.2.1 blinker-1.5 cachetools-5.2.0 commonmark-0.9.1 protobuf-3.20.3 pyarrow-10.0.1 pydeck-0.8.0 pympler-1.0.1 pytz-deprecation-shim-0.1.0.post0 rich-12.6.0 semver-2.13.0 streamlit-1.15.1 toml-0.10.2 toolz-0.12.0 tzdata-2022.6 tzlocal-4.2 validators-0.20.0 watchdog-2.1.9
WARNING: You are using pip version 21.3.1; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/bin/python3.7 -m pip install --upgrade pip' command.

In [19]:
q1 = 'SELECT * FROM db_candidates.tb_hired_report'

In [20]:
def read_df1():
  df1 = pd.read_sql_query(q1, connection)
  return df1

In [21]:
read_df1()

,technology,seniority,country,year_application,status_cantidate,number_of_hired
0,Adobe Experience Manager,Architect,Albania,2019,No Hired,1
1,Adobe Experience Manager,Architect,Albania,2020,No Hired,1
2,Adobe Experience Manager,Architect,Algeria,2018,Hired,1
3,Adobe Experience Manager,Architect,Algeria,2019,No Hired,1
4,Adobe Experience Manager,Architect,Algeria,2020,No Hired,1
...,...,...,...,...,...,...
45191,Technical Writing,Trainee,Vietnam,2018,No Hired,1
45192,Technical Writing,Trainee,Vietnam,2021,No Hired,1
45193,Technical Writing,Trainee,Virgin Islands U.S.,2019,No Hired,2
45194,Technical Writing,Trainee,Wallis and Futuna,2019,No Hired,1
45195,Technical Writing,Trainee,Yemen,2020,No Hired,1

In [ ]:
# Emplear
import streamlit as st
#import mysql.connector

# Initialize connection.
# Uses st.experimental_singleton to only run once.
#@st.experimental_singleton
#def init_connection():
#    return mysql.connector.connect(**st.secrets["mysql"])

#conn = init_connection()

# Perform query.
# Uses st.experimental_memo to only rerun when the query changes or after 10 min.
@st.experimental_memo(ttl=600)
def run_query(query):
    with connection.cursor() as cur:
        cur.execute(query)
        return cur.fetchall()

rows = run_query("SELECT * from hired_report;")

# Print results.
for row in rows:
    st.write(f"{row[0]} has a :{row[1]}:")

In [ ]:
streamlit run /home/laren.osorio/.local/lib/python3.7/site-packages/ipykernel_launcher.py rdb_from_csv_python

# Parte 4

In [ ]:
# LLevarlo a un entorno de Desarrollo

# Referencias

[1](https://www.freecodecamp.org/news/connect-python-with-sql/)
[mysqldb](https://github.com/thecraigd/Python_SQL/blob/master/mysql.ipynb)   [streamlit](https://docs.streamlit.io/knowledge-base/tutorials/databases/mysql)